VITE_APPWRITE_DATABASE_ID=m2z-reviews
VITE_APPWRITE_POSTS_COLLECTION_ID=posts
VITE_APPWRITE_USERS_COLLECTION_ID=users
VITE_APPWRITE_NEWSLETTER_SUBSCRIBERS_COLLECTION_ID=newsletter-subscribers
VITE_APPWRITE_BUCKET_ID=post-content
VITE_APPWRITE_PROJECT_ID=m2z-reviews
VITE_APPWRITE_PROJECT_NAME=M2Z Reviews
VITE_APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
# SERVER-SIDE ONLY (NEVER expose in browser bundles)
VITE_APPWRITE_API_KEY=
